.idea/
.ai/
LLG/
token-monitor/
Personal/*
.claude/
.vscode/
table-dict/
.DS_Store
*.swp
settings.jsondeepseek
settings.jsonxiaomi
BI新人必读.docx
build-your-own-x/
*.log
sema-code-vscode-extension/
xiaotang_data.json
